@charset "UTF-8";
/*  
    0   - 400px:    small-phone
    400 - 600px:    phone
    600 - 900px:    Tablet(portrait)
    900 - 1200px:   Tablet(landscape)
    (1200 to 1800px is where our normal styles apply)
    1800px +:       Big Desktop

    $breakpoint argument choices:
    -small-phone
    -phone
    -tab-port
    -tab-land
    -big-desktop
*/
:root {
  --color-background-primary-light: hsl(
    217,
    28%,
    15%
  );
  --color-background-primary-dark: hsl(
    218,
    28%,
    13%
  );
  --color-background-footer: hsl(216, 53%, 9%);
  --color-background-testimonials: hsl(
    219,
    30%,
    18%
  );
  --color-accent-cyan: hsl(
    176,
    68%,
    64%
  );
  --color-accent-blue: hsl(
    198,
    60%,
    50%
  );
  --color-accent-light-red: hsl(0, 100%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 100%, 0%);
  --font-body-text: "Open Sans", sans-serif;
  --font-header-text: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 87.5em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (max-width: 23.4375em) {
  html {
    font-size: 31.25%;
  }
}

body {
  font-family: var(--font-body-text);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
}

.heading--primary {
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--font-header-text);
}
.heading--primary--hero {
  width: 65%;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .heading--primary--hero {
    width: 95%;
  }
}
.heading--primary--about {
  line-height: 1.2;
  width: 65%;
  text-align: left;
}
@media only screen and (max-width: 87.5em) {
  .heading--primary--about {
    width: 100%;
  }
}

.heading--secondary {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-header-text);
}

.heading--tertiary {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-header-text);
}

.paragraph {
  font-size: 1.4rem;
  font-family: var(--font-body-text);
  margin: 0 auto;
}
.paragraph--hero {
  width: 42%;
  font-size: 1.6rem;
}
@media only screen and (max-width: 37.5em) {
  .paragraph--hero {
    width: 60%;
  }
}
.paragraph--features {
  width: 50%;
}

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 7.5rem !important;
}

.btn {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-accent-cyan), var(--color-accent-blue));
  padding: 1rem 3rem;
  border-radius: 50px;
  transition: all 0.3s;
  border: none;
  z-index: 4;
}
.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-accent-cyan), var(--color-accent-blue));
  padding: 1.5rem 7.5rem;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: 4;
}
.btn--animated::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--color-accent-cyan), var(--color-accent-blue));
  transition: all 0.3s 0.1s ease-out;
}
.btn--animated:hover {
  transform: translateY(-6px);
  filter: brightness(120%);
}
.btn:hover, .btn:active {
  filter: brightness(120%);
  cursor: pointer;
}
.btn--animated:active {
  transform: translateY(-3px);
}

.btn--animated:hover::before {
  transform: scale(2);
  opacity: 0;
}

.link:link, .link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-accent-cyan);
}
.link--inline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link--inline:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}
.link--primary {
  color: var(--color-white) !important;
}
.link--primary:hover, .link--primary:active {
  font-weight: 700;
}

.link:hover .link__icon {
  color: var(--color-white);
}

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background-primary-dark);
  mask-image: url(../../images/bg-curvy-desktop.svg);
  mask-size: cover;
}

.input {
  font-family: var(--font-body-text);
  font-size: 1.4rem;
  background-color: #f4f2f2;
  border-radius: 100px;
  border: none;
  color: var(--color-black);
  padding: 1rem 3rem;
  width: 90%;
  transition: width 0.2s ease-in;
  margin-bottom: 1rem;
  display: block;
}
.input:focus {
  outline: none;
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.input::-webkit-input-placeholder {
  color: #999;
}
.input::-moz-placeholder {
  color: #999;
}
.input::-ms-placeholder {
  color: #999;
}
.input::placeholder {
  color: #999;
}
.input__label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-accent-light-red);
  align-self: flex-start;
  padding-left: 3rem;
  opacity: 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2rem;
  width: 65%;
}

.footer {
  background-color: var(--color-background-footer);
  padding: 20rem 12rem 10rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 20rem 6rem 5rem 6rem;
    align-items: center;
  }
}
.footer__img {
  padding-bottom: 4.5rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__img {
    align-self: flex-start;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__img {
    width: 35%;
  }
}
.footer__paragraph {
  position: relative;
  padding: 0 4rem;
  width: 120%;
}
.footer__paragraph::before {
  content: url("../../images/icon-location.svg");
  position: absolute;
  left: 0;
  top: 5%;
}
@media only screen and (max-width: 37.5em) {
  .footer__paragraph::before {
    top: 25%;
    left: -10.5%;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__paragraph {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__paragraph {
    padding: 2rem 0;
  }
}
.footer__text {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .footer__text {
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__text {
    flex-direction: column;
    padding: 2.4rem;
  }
}
.footer__text-location {
  width: 25%;
}
@media only screen and (max-width: 56.25em) {
  .footer__text-location {
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__text-location {
    padding-left: 6rem;
    align-self: stretch;
    width: 80%;
  }
}
.footer__text-contacts {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .footer__text-contacts {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__text-contacts {
    margin-bottom: 5rem;
  }
}
.footer__text-links-1 {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .footer__text-links-1 {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__text-links-1 {
    margin-bottom: 2rem;
  }
}
.footer__text-links-2 {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .footer__text-links-2 {
    margin-right: 2rem;
  }
}
.footer__icon--social {
  fill: #fff;
  height: 3rem;
  width: 3rem;
  margin: 0rem 1rem 1rem 1rem;
  transition: fill 0.2s;
}
.footer__icon--social:hover, .footer__icon--social:active {
  fill: var(--color-accent-cyan);
  cursor: pointer;
}
.footer__icon--contact {
  margin-right: 2.5rem;
  transform: translateY(0.3rem);
}
.footer__info {
  padding-bottom: 1rem;
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .footer__social {
    flex-direction: row;
    justify-content: center;
  }
}

.grid__container {
  display: grid;
  grid-template-rows: 20rem repeat(3, min-content) repeat(2, min-content) min-content;
  grid-template-columns: [full-start] 1fr repeat(12, [col-start] minmax(8rem, 1fr) [col-end]) 1fr [full-end];
}
@media only screen and (max-width: 56.25em) {
  .grid__container {
    grid-template-columns: [full-start] repeat(2, 1fr) repeat(10, [col-start] minmax(8rem, 1fr) [col-end]) repeat(2, 1fr) [full-end];
  }
}
@media only screen and (max-width: 37.5em) {
  .grid__container {
    grid-template-columns: [full-start] repeat(2, 1fr) repeat(10, [col-start] minmax(6rem, 1fr) [col-end]) repeat(2, 1fr) [full-end];
  }
}
.grid__child {
  grid-column: full-start/full-end;
}
.nav {
  background-color: var(--color-background-primary-light);
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.nav__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__logo {
  padding: 4rem 8rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__logo {
    padding: 4rem 6rem;
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__logo {
    width: 70%;
    padding: 0;
  }
}
.nav__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__links-container {
    margin-right: 1rem;
  }
}
.nav__list-item {
  padding: 3rem 4rem;
  list-style: none;
  text-wrap: nowrap;
}
@media only screen and (max-width: 56.25em) {
  .nav__list-item {
    padding: 1.5rem 2rem;
  }
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: var(--color-white);
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    font-size: 1.8rem;
  }
}
.nav__link:hover {
  color: transparent;
}
.nav__link-1 {
  position: relative;
}
.nav__link-1::after {
  content: "Features";
  display: block;
  position: absolute;
  font-weight: 700;
  top: -10%;
  left: -3%;
  opacity: 0;
}
.nav__link-2 {
  position: relative;
}
.nav__link-2::after {
  content: "Team";
  display: block;
  position: absolute;
  font-weight: 700;
  top: -10%;
  left: -3%;
  opacity: 0;
}
.nav__link-3 {
  position: relative;
}
.nav__link-3::after {
  content: "Sign In";
  display: block;
  position: absolute;
  font-weight: 700;
  top: -10%;
  left: -3%;
  opacity: 0;
}

.nav__link-1:hover::after {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid var(--color-white);
  opacity: 1;
}

.nav__link-1:active::after {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid var(--color-white);
  transform: scale(0.95);
  opacity: 1;
}

.nav__link-2:hover::after {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid var(--color-white);
  opacity: 1;
}

.nav__link-2:active::after {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid var(--color-white);
  transform: scale(0.95);
  opacity: 1;
}

.nav__link-3:hover::after {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid var(--color-white);
  opacity: 1;
}

.nav__link-3:active::after {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid var(--color-white);
  transform: scale(0.95);
  opacity: 1;
}

.section-header {
  position: relative;
  background-color: var(--color-background-primary-light);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  padding-bottom: 20rem;
}
.section-header__container {
  grid-column: col-start 1/col-end 12;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  z-index: 2;
}
@media only screen and (max-width: 56.25em) {
  .section-header__container {
    width: 80%;
    grid-column: col-start 1/col-end 10;
    margin: 0 auto;
  }
}
.section-header__image-container {
  margin-top: 6.5rem;
  margin-bottom: 5rem;
}
.section-header__hero-img {
  object-fit: cover;
}
@media only screen and (max-width: 87.5em) {
  .section-header__hero-img {
    width: 80%;
  }
}

.section-features {
  background-color: var(--color-background-primary-dark);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 2.5rem 0;
  }
}
.section-features__container {
  grid-column: col-start 1/col-end 12;
  display: grid;
  grid-template-columns: [full-start] 1fr repeat(2, [col-start] minmax(34rem, 1fr) [col-end]) 1fr [full-end];
  grid-template-rows: repeat(2, [row-start] 1fr [row-end]);
  gap: 10rem;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .section-features__container {
    grid-template-columns: [full-start] 1fr repeat(2, [col-start] minmax(min-content, 1fr) [col-end]) 1fr [full-end];
    width: 70%;
    margin: 0 auto;
    grid-column: col-start 1/col-end 10;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-features__container {
    grid-template-rows: repeat(4, [row-start] 1fr [row-end]);
  }
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-image {
    width: 9rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-image {
    width: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-image {
    width: 7rem;
  }
}
.section-features__feature-1 {
  grid-row: row-start 1/span 1;
  grid-column: col-start 1/span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-1 {
    width: 200%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 37.5em) {
  .section-features__feature-1 {
    transform: translate(0);
    grid-column: full-start/full-end;
    width: 100%;
  }
}
.section-features__feature-2 {
  grid-row: row-start 1/span 1;
  grid-column: col-start 2/span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-2 {
    width: 200%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-features__feature-2 {
    grid-column: full-start/full-end;
    width: 100%;
    grid-row: row-start 2/span 1;
    transform: translate(0);
  }
}
.section-features__feature-3 {
  grid-row: row-start 2/span 1;
  grid-column: col-start 1/span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-3 {
    width: 200%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 37.5em) {
  .section-features__feature-3 {
    grid-column: full-start/full-end;
    width: 100%;
    grid-row: row-start 3/span 1;
    transform: translate(0);
  }
}
.section-features__feature-4 {
  grid-row: row-start 2/span 1;
  grid-column: col-start 2/span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .section-features__feature-4 {
    width: 200%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-features__feature-4 {
    grid-column: full-start/full-end;
    width: 100%;
    grid-row: row-start 4/span 1;
    transform: translate(0);
  }
}

.section-about {
  background-color: var(--color-background-primary-dark);
  display: grid;
  grid-template-columns: subgrid;
  padding: 15rem 0;
}
.section-about__container {
  grid-column: col-start 1/col-end 12;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .section-about__container {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about__container {
    width: 70%;
    flex-direction: column;
  }
}
.section-about__img-container {
  flex: 1 1 50%;
}
@media only screen and (max-width: 56.25em) {
  .section-about__img-container {
    flex: 1 1 40%;
  }
}
.section-about__img {
  object-fit: cover;
}
@media only screen and (max-width: 75em) {
  .section-about__img {
    width: 100%;
  }
}
.section-about__text-box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 4rem;
}
@media only screen and (max-width: 56.25em) {
  .section-about__text-box {
    padding: 0;
    padding-right: 1rem;
    flex: 1 1 40%;
  }
}

.section-reviews {
  background-color: var(--color-background-primary-dark);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  z-index: 0;
}
.section-reviews__container {
  grid-column: col-start 1/col-end 12;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .section-reviews__container {
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    align-items: center;
  }
}
.section-reviews__review {
  background-color: var(--color-background-testimonials);
  margin: 1rem 2rem;
  border-radius: 3px;
  padding: 4.5rem 3rem 3rem 3rem;
  box-shadow: 4px 6px 20px var(--color-background-primary-light, 0.5);
  position: relative;
}
.section-reviews__review:first-of-type::before {
  content: "“";
  display: block;
  position: absolute;
  transform: translate(-70%, -53%);
  font-family: sans-serif;
  color: var(--color-accent-cyan);
  line-height: 1;
  font-size: 20rem;
  z-index: -1;
}
.section-reviews__comment {
  font-size: 1.4rem;
}
.section-reviews__profile {
  display: flex;
  align-items: center;
}
.section-reviews__profile-img {
  border-radius: 50%;
  width: auto;
  height: 3rem;
  margin-right: 1rem;
}
.section-reviews__profile-name {
  font-size: 1.2rem;
  font-weight: 700;
}
.section-reviews__profile-position {
  font-size: 1rem;
}

.section-cta {
  background-color: var(--color-background-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-cta__box {
  background-color: var(--color-background-primary-light);
  text-align: center;
  padding: 3rem 6rem;
  border-radius: 5px;
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 55%;
  transform: translateY(50%);
}
@media only screen and (max-width: 75em) {
  .section-cta__box {
    width: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-cta__box {
    width: 70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-cta__box {
    width: 80%;
  }
}
.section-cta__text-box {
  width: 80%;
  margin: 0 auto;
}
.section-cta__form {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
