.btn {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-accent-cyan),
    var(--color-accent-blue)
  );
  padding: 1rem 3rem;
  border-radius: 50px;
  transition: all 0.3s;
  border: none;
  z-index: 4;

  @include respond(phone) {
    font-size: 1.3rem;
  }

  &:link,
  &:visited {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-white);
    background-image: linear-gradient(
      to right,
      var(--color-accent-cyan),
      var(--color-accent-blue)
    );
    padding: 1.5rem 7.5rem;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: 4;
  }

  &--animated::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      var(--color-accent-cyan),
      var(--color-accent-blue)
    );
    transition: all 0.3s 0.1s ease-out;
  }

  &--animated:hover {
    transform: translateY(-6px);
    filter: brightness(120%);

    @media (pointer: coarse) {
      transform: translateY(0);
      filter: brightness(100%);
    }
  }

  &:hover,
  &:active {
    filter: brightness(120%);
    cursor: pointer;
    @media (pointer: coarse) {
      filter: brightness(100%);
      cursor: none;
    }
  }

  @media (pointer: coarse) {
    &:active {
      filter: brightness(120%);
    }
  }

  &--animated:active {
    transform: translateY(-3px);

    @media (pointer: coarse) {
      transform: translate(0);
    }
  }
}

.btn--animated:hover::before {
  transform: scale(2);
  opacity: 0;

  @media (pointer: coarse) {
    transform: scale(1);
  }
}

.link {
  &:link,
  &:visited {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-accent-cyan);
  }

  &--inline {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--color-white);
      border-bottom: 1px solid var(--color-white);
    }
  }

  &--primary {
    color: var(--color-white) !important;

    &:hover,
    &:active {
      font-weight: 700;
    }
  }
}

.link:hover .link__icon {
  color: var(--color-white);
}
