*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(big-tab) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respond(tab-land) {
    font-size: 50%; //1rem = 8 px
  }

  @include respond(tab-port) {
    font-size: 43.75%; //1rem - 7px
  }

  @include respond(phone) {
    font-size: 37.5%; //1rem - 6px
  }

  @include respond(small-phone) {
    font-size: 31.25%; //1rem - 5px
  }
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--color-background-primary-light) 0%,
    var(--color-background-primary-light) 20%,
    var(--color-background-primary-dark) 20%,
    var(--color-background-primary-dark) 100%
  );
}
