body {
  font-family: var(--font-body-text);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--font-header-text);
  width: 65%;
  margin: 0 auto;
}

.paragraph {
  font-size: 1.4rem;
  font-family: var(--font-body-text);
  width: 42%;
  margin: 0 auto;

  &--big {
    font-size: 1.6rem;
  }
}
