//section-abc
.section-header {
  position: relative;
  background-color: var(--color-background-primary-light);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  padding-bottom: 20rem;

  &__container {
    grid-column: col-start 1 / col-end 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    z-index: 2;

    @include respond(tab-port) {
      width: 80%;
      grid-column: col-start 1 / col-end 10;
      margin: 0 auto;
    }
  }

  &__image-container {
    margin-top: 6.5rem;
    margin-bottom: 5rem;
  }

  &__hero-img {
    object-fit: cover;

    @include respond(big-tab) {
      width: 80%;
    }
  }
}

.section-features {
  background-color: var(--color-background-primary-dark);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  @include respond(tab-port) {
    padding: 2.5rem 0;
  }

  &__container {
    grid-column: col-start 1 / col-end 12;
    display: grid;
    grid-template-columns:
      [full-start] 1fr repeat(2, [col-start] minmax(34rem, 1fr) [col-end])
      1fr [full-end];
    grid-template-rows: repeat(2, [row-start] 1fr [row-end]);
    gap: 10rem;
    text-align: center;

    //CHANGE 34REM TO MIN-CONTENT IN LOWER SCREEN SIZE

    @include respond(tab-port) {
      grid-template-columns:
        [full-start] 1fr repeat(
          2,
          [col-start] minmax(min-content, 1fr) [col-end]
        )
        1fr [full-end];
      width: 70%;
      margin: 0 auto;
      grid-column: col-start 1 / col-end 10;
    }

    @include respond(phone) {
      grid-template-rows: repeat(4, [row-start] 1fr [row-end]);
    }
  }

  &__feature-image {
    @include respond(tab-port) {
      width: 9rem;
    }
    @include respond(tab-port) {
      width: 8rem;
    }

    @include respond(tab-port) {
      width: 7rem;
    }
  }

  &__feature-1 {
    grid-row: row-start 1 / span 1;
    grid-column: col-start 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include respond(tab-port) {
      width: 200%;
      transform: translateX(-50%);
    }

    @include respond(phone) {
      transform: translate(0);
      grid-column: full-start / full-end;
      width: 100%;
    }
  }

  &__feature-2 {
    grid-row: row-start 1 / span 1;
    grid-column: col-start 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include respond(tab-port) {
      width: 200%;
    }
    @include respond(phone) {
      grid-column: full-start / full-end;
      width: 100%;
      grid-row: row-start 2 / span 1;
      transform: translate(0);
    }
  }

  &__feature-3 {
    grid-row: row-start 2 / span 1;
    grid-column: col-start 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include respond(tab-port) {
      width: 200%;
      transform: translateX(-50%);
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
      width: 100%;
      grid-row: row-start 3 / span 1;
      transform: translate(0);
    }
  }

  &__feature-4 {
    grid-row: row-start 2 / span 1;
    grid-column: col-start 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include respond(tab-port) {
      width: 200%;
    }

    @include respond(phone) {
      grid-column: full-start / full-end;
      width: 100%;
      grid-row: row-start 4 / span 1;
      transform: translate(0);
    }
  }
}

.section-about {
  background-color: var(--color-background-primary-dark);
  display: grid;
  grid-template-columns: subgrid;
  padding: 15rem 0;

  &__container {
    grid-column: col-start 1 / col-end 12;
    display: flex;

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
      justify-content: center;
    }

    @include respond(phone) {
      width: 70%;
      flex-direction: column;
    }
  }

  &__img-container {
    flex: 1 1 50%;
    @include respond(tab-port) {
      flex: 1 1 40%;
    }
  }

  &__img {
    object-fit: cover;

    @include respond(tab-land) {
      width: 100%;
    }
  }

  &__text-box {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 4rem;

    @include respond(tab-port) {
      padding: 0;
      padding-right: 1rem;
      flex: 1 1 40%;
    }
  }
}

.section-reviews {
  background-color: var(--color-background-primary-dark);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  z-index: 0;

  &__container {
    grid-column: col-start 1 / col-end 12;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-wrap: wrap;
      width: 70%;
      margin: 0 auto;
      align-items: center;
    }
  }

  &__review {
    background-color: var(--color-background-testimonials);
    margin: 1rem 2rem;
    border-radius: 3px;
    padding: 4.5rem 3rem 3rem 3rem;
    box-shadow: 4px 6px 20px var(--color-background-primary-light, 0.5);
    position: relative;

    &--1 {
    }

    &--2 {
    }

    &--3 {
    }

    &:first-of-type::before {
      content: "\201C";
      display: block;
      position: absolute;
      transform: translate(-70%, -53%);
      font-family: sans-serif;
      color: var(--color-accent-cyan);
      line-height: 1;
      font-size: 20rem;
      z-index: -1;
    }
  }

  &__comment {
    font-size: 1.4rem;
  }

  &__profile {
    display: flex;
    align-items: center;

    &-img {
      border-radius: 50%;
      width: auto;
      height: 3rem;
      margin-right: 1rem;
    }

    &-text {
    }

    &-name {
      font-size: 1.2rem;
      font-weight: 700;
    }

    &-position {
      font-size: 1rem;
    }
  }
}

.section-cta {
  background-color: var(--color-background-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: var(--color-background-primary-light);
    text-align: center;
    padding: 3rem 6rem;
    border-radius: 5px;
    box-shadow: 6px 5px 15px rgba($color: #000000, $alpha: 0.2);
    margin: 1rem;
    width: 55%;
    transform: translateY(50%);

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__text-box {
    width: 80%;
    margin: 0 auto;
  }

  &__form {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
  }
}
